@import '../@theme/styles/themes';

@include nb-install-component() {
  ::ng-deep router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }

  /deep/ nb-menu .menu-item a {
    color: #fff000;
  }

  /deep/ nb-context-menu nb-menu {
    background-color: rgb(156, 156, 156);
  }

  /deep/ nb-menu .menu-item a:hover {
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
  }
}
