:host {
  display: inline-block;
  width: 100%;
  max-width: 35rem;
  position: relative;

  /deep/ {
    form {
      width: 100%;
    }

    .label {
      display: block;
      margin-bottom: 0.5rem;
    }

    .error-message {
      margin-top: 0.5rem;
    }

    .alert {
      text-align: center;
    }

    .title {
      margin-top: 0;
      margin-bottom: 0.75rem;
      text-align: center;
    }

    .sub-title {
      margin-bottom: 2rem;
      text-align: center;
    }

    .checkbox {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      font-weight: normal;
    }

    .form-control-group {
      margin-bottom: 2rem;
    }

    .form-control-group.accept-group {
      display: flex;
      justify-content: space-between;
      margin: 2rem 0;

      .forgot-password {
        line-height: 2;
      }
    }

    .links {
      text-align: center;
      margin-top: 1.75rem;

      .socials {
        margin-top: 1.5rem;
      }

      .socials a {
        margin: 0 1rem;
        text-decoration: none;
        font-size: 1rem;
        vertical-align: middle;

        &.with-icon {
          font-size: 2rem;
        }
      }
    }

    .another-action {
      margin-top: 2rem;
      text-align: center;
    }

    .sign-in-or-up {
      margin-top: 2rem;
      display: flex;
      justify-content: space-between;
    }

    nb-alert {
      .alert-title,
      .alert-message {
        margin: 0 0 0.5rem;
      }
      .alert-message-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
    }
  }
}
