<nb-alert *ngIf="errors?.length" status="warning" role="alert">
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>
<nb-alert *ngIf="successShow" status="success" role="alert">
  File excel berhasil dibuat
</nb-alert>

<form (ngSubmit)="exportData()" [formGroup]="wizardForm">
  <nb-card>
    <nb-card-body>
      <div class="form-group row">
        <label for="subyekData" class="label col-sm-2 col-form-label">Subyek Data</label>
        <div class="col-sm-4">
          <nb-select formControlName="subyekData" placeholder="Subyek data (Harus dipilih)"
            (selectedChange)="loadSourceData($event)" fullWidth>
            <nb-option *ngFor="let subyek of subyekData" [value]="subyek.value">{{subyek.text}}</nb-option>
          </nb-select>
        </div>
      </div>
      <div class="form-group row">
        <label for="datasource" class="label col-sm-2 col-form-label">Sumber Data</label>
        <div class="col-sm-4">
          <nb-select formControlName="dataSource" placeholder="Sumber data (Harus dipilih)"
            fullWidth (selectedChange)="dataSourceFilled()">
            <nb-option *ngFor="let ds of dataSource" [value]="ds.value">{{ds.text}}</nb-option>
          </nb-select>
        </div>
      </div>
      <div class="form-group row">
        <label for="dataCharacter1" class="label col-sm-2 col-form-label">Karakteristik Data 1</label>
        <div class="col-sm-4">
          <nb-select formControlName="rowParam" placeholder="Karakteristik data 1 (Harus dipilih)" fullWidth>
            <nb-option *ngFor="let colHead of listOfColumnHeader" [value]="colHead.value">{{colHead.text}}</nb-option>
          </nb-select>
        </div>
      </div>
      <div class="form-group row">
        <label for="dataCharacter2" class="label col-sm-2 col-form-label">Karakteristik Data 2</label>
        <div class="col-sm-4">
          <nb-select formControlName="colParam" placeholder="Karakteristik data 2 (Harus dipilih)" fullWidth>
            <nb-option *ngFor="let colHead of listOfColumnHeader" [value]="colHead.value">{{colHead.text}}</nb-option>
          </nb-select>
        </div>
      </div>
      <div class="form-group row">
        <label for="filterYear" class="label col-sm-2 col-form-label">Filter by Tahun</label>
        <div class="year-group-checkbox">
          <div *ngFor="let year of listOfYears">
            <nb-checkbox (checkedChange)="checkedYear(year)">{{year}}</nb-checkbox>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <div class="row">
        <div class="col-sm-2">
          <button type="submit" fullWidth nbButton status="info" nbSpinnerMessage=""
            [disabled]="!wizardForm.valid || onProcess" [nbSpinner]="onProcess" nbSpinnerStatus="info"
            nbSpinnerSize="small">
            <nb-icon icon="file-text-outline"></nb-icon>
            Download
          </button>
        </div>
      </div>
    </nb-card-footer>
  </nb-card>
</form>
