<div class="title">
  <img src="{{djpLogo}}">
</div>

<h1 id="title" class="title"><span style="color: #e6a800">SERIBU</span><span style="color: #020087"> TABEL</span></h1>

<nb-alert *ngIf="showMessages.error && errors?.length && !loadData" outline="danger" role="alert">
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !loadData" outline="success" role="alert">
  <p class="alert-title"><b>Hooray!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert>

<form (ngSubmit)="onLogin()" #form="ngForm" aria-labelledby="title">

  <div class="form-control-group">
    <label class="label" for="input-userId">User ID:</label>
    <input nbInput
           fullWidth
           [(ngModel)]="loginRequest.username"
           #userId="ngModel"
           name="userId"
           id="input-userId"
           placeholder="User ID"
           autofocus
           [status]="userId.dirty ? (userId.invalid  ? 'danger' : 'success') : ''"
           [required]="getConfigValue('forms.validation.userId.required')"
           [attr.aria-invalid]="userId.touched ? true : null">
    <ng-container *ngIf="userId.invalid || userId.touched">
      <p class="caption status-danger" *ngIf="userId.errors?.required">
        user ID harus diisi!
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-password">Password:</label>
    <input nbInput
           fullWidth
           [(ngModel)]="loginRequest.password"
           #password="ngModel"
           name="password"
           type="password"
           id="input-password"
           placeholder="Password"
           [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : ''"
           [required]="getConfigValue('forms.validation.password.required')"
           [attr.aria-invalid]="password.invalid && password.touched ? true : null">
    <ng-container *ngIf="password.invalid && password.touched ">
      <p class="caption status-danger" *ngIf="password.errors?.required">
        Password harus diisi!
      </p>
    </ng-container>
  </div>

  <button nbButton
          fullWidth
          status="info"
          size="medium"
          [nbSpinner]="loadData" nbSpinnerStatus="info" nbSpinnerSize="small" nbSpinnerMessage=""
          >
    Log In
  </button>
</form>
