<div class="row">
  <div class="col-md-12">
    <nb-alert *ngIf="errors?.length" status="warning" role="alert">
      <ul class="alert-message-list">
        <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
      </ul>
    </nb-alert>
    <nb-alert *ngIf="successShow" status="success" role="alert">
      File berhasil diunduh
    </nb-alert>

    <nb-card>
      <nb-card-body>
        <table fullWidth mat-table [dataSource]="listFiles" #downloadTable class="download-table">
          <!-- action column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element" class="action-link">
              <nb-actions size="small">
                <nb-action nbTooltip="Unduh" nbTooltipPlacement="bottom" icon="download-outline"
                  (click)="download(element)"></nb-action>
              </nb-actions>
            </td>
          </ng-container>

          <!-- nama subdit -->
          <ng-container matColumnDef="subditName">
            <th mat-header-cell *matHeaderCellDef> Nama Subdit </th>
            <td mat-cell *matCellDef="let element">{{element.owner}}</td>
          </ng-container>

          <!-- nama file -->
          <ng-container matColumnDef="releaseYear">
            <th mat-header-cell *matHeaderCellDef> Tahun Rilis </th>
            <td mat-cell *matCellDef="let element">{{element.releaseYear}}</td>
          </ng-container>

          <!-- nama file -->
          <ng-container matColumnDef="fileName">
            <th mat-header-cell *matHeaderCellDef> Nama File </th>
            <td mat-cell *matCellDef="let element">{{element.fileName}}</td>
          </ng-container>

          <!-- nama file -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Keterangan </th>
            <td mat-cell *matCellDef="let element">{{element.description}}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </nb-card-body>
    </nb-card>

  </div>
</div>
