@import '../../../@theme/styles/themes';
@import '../../../@theme/styles/styles.scss';

.download-table {
  width: 100%;
  text-align: center;
}

@include mat-table-columns(
  (
    action: (
      width: 6rem,
    ),
    subditName: (
      width: 20rem,
      text-align: center,
    ),
    fileName: (
      width: 20rem,
      text-align: center,
    ),
  )
);
