<nb-alert status="success" *ngIf="alertShow">
  User berhasil di{{act}}
</nb-alert>
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <div class="col-sm-2">
          <button type="submit" fullWidth nbButton status="warning" shape="round" (click)="openDialog('Tambah', {})">
            <nb-icon icon="person-add-outline"></nb-icon>
            Tambah
          </button>
        </div>
      </nb-card-header>
      <nb-card-body>
        <table fullWidth mat-table [dataSource]="userData" #mytable class="my-table">
          <!-- action column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element" class="action-link">
              <nb-actions size="small">
                <nb-action nbTooltip="Ubah data" nbTooltipPlacement="bottom" icon="edit-outline" (click)="openDialog('Ubah', element)"></nb-action>
                <nb-action nbTooltip="Ganti password" nbTooltipPlacement="bottom" icon="settings-2-outline" (click)="openDialog('Ganti Password', element)"></nb-action>
                <nb-action nbTooltip="Hapus data" nbTooltipPlacement="bottom" icon="trash-2-outline" (click)="openDialog('Hapus', element)"></nb-action>
              </nb-actions>
            </td>
          </ng-container>

          <!-- name column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nama </th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
          </ng-container>

          <!-- user ID column -->
          <ng-container matColumnDef="userId">
            <th mat-header-cell *matHeaderCellDef> User ID </th>
            <td mat-cell *matCellDef="let element">{{element.username}}</td>
          </ng-container>

          <!-- nip column -->
          <ng-container matColumnDef="nip">
            <th mat-header-cell *matHeaderCellDef> NIP Sikka </th>
            <td mat-cell *matCellDef="let element">{{element.nip}}</td>
          </ng-container>

          <!-- otoritas column -->
          <ng-container matColumnDef="otoritas">
            <th mat-header-cell *matHeaderCellDef> Otoritas </th>
            <td mat-cell *matCellDef="let element">{{element.roleText}}</td>
          </ng-container>

          <!-- hidden column -->
          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef> Role hidden </th>
            <td mat-cell *matCellDef="let element">{{element.role}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
