@import '../../../@theme/styles/themes';
@import '../../../@theme/styles/styles.scss';

.my-table {
  width: 100%;
  text-align: center;
}

@include mat-table-columns(
  (
    action: (
      width: 6rem,
      color: gray,
      text-align: center
    ),
    userId: (
      width: 9rem,
      text-align: center
    ),
    name: (
      width: 20rem,
      text-align: center
    ),
    nip: (
      width: 20rem,
      text-align: center
    ),
    otoritas: (
      width: 20rem,
      text-align: center
    )
  )
);
