<nb-alert *ngIf="errors?.length" status="warning" role="alert">
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>
<nb-alert *ngIf="successShow" status="success" role="alert">
  File berhasil diupload
</nb-alert>

<form (ngSubmit)="upload()" [formGroup]="uploadForm">
  <nb-card>
    <nb-card-body>
      <div class="form-group row">
        <label for="dataowner" class="label col-sm-2 col-form-label">Nama {{dataset}}</label>
        <div class="col-sm-4">
          <nb-select formControlName="ownerName" placeholder="Nama {{dataset}} (Harus diisi)" fullWidth>
            <nb-option *ngFor="let owner of dataOwner" [value]="owner.value">{{owner.text}}</nb-option>
          </nb-select>
        </div>
      </div>
      <div class="form-group row">
        <label for="releaseYear" class="label col-sm-2 col-form-label">Tahun Rilis</label>
        <div class="col-sm-4">
          <nb-select formControlName="releaseYear" placeholder="Tahun Rilis (Harus diisi)" fullWidth>
            <nb-option *ngFor="let year of listOfYears" [value]="year">{{year}}</nb-option>
          </nb-select>
        </div>
      </div>
      <div class="form-group row">
        <label for="dataowner" class="label col-sm-2 col-form-label">Keterangan</label>
        <div class="col-sm-4">
          <textarea formControlName="keterangan" maxlength="100" nbInput fullWidth placeholder="Keterangan (Harus diisi)"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="uploadDok" class="label col-sm-2 col-form-label">Upload Dokumen</label>
        <div class="col-sm-4">
          <input formControlName="docUpload" id="inputFile" type="file" accept=".xlsx, .xls, .pdf, image/*"
            ng2FileSelect fullWidth [multiple]="true" nbInput [uploader]="uploader" readonly
            required>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2 col-form-label"></div>
        <div class="col-sm-5">
          <table *ngIf="uploader.queue.length > 0">
            <thead>
              <tr>
                <th width="15%"></th>
                <th width="90%">Nama File</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of uploader.queue">
                <td class="text-center" width="10%">
                  <button nbTooltip="Hapus" nbButton (click)="item.remove()" size="tiny" status="danger" [disabled]="onProcess">
                    <nb-icon icon="trash-2-outline"></nb-icon>
                  </button>
                </td>
                <td style="background-color: yellow" nbTooltip="Melebihi 100 MB. Silakan hapus" nbTooltipStatus="danger"
                  nbTooltipPlacement="left" nbTooltipIcon="alert-triangle-outline"
                  *ngIf="item.file.size > 100000000; else elseTemplate">
                  {{ item.file.name}} ({{item.file.size/1000000}} MB)
                </td>
                <ng-template #elseTemplate>
                  <td width="90%">
                    {{ item.file.name}} ({{item.file.size/1000000}} MB)
                  </td>
                </ng-template>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <div class="row">
        <div class="col-sm-2">
          <button type="submit" fullWidth nbButton status="info" nbSpinnerMessage=""
            [disabled]="!uploadForm.valid || onProcess" [nbSpinner]="onProcess" nbSpinnerStatus="info"
            nbSpinnerSize="small">
            <nb-icon icon="upload-outline"></nb-icon>
            Upload
          </button>
        </div>
      </div>
    </nb-card-footer>
  </nb-card>
</form>
