<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <div class="form-group row">
          <label for="dataset" class="label col-sm-1 col-form-label">Dataset</label>
          <div class="col-sm-3">
            <nb-select placeholder="Dataset" [(ngModel)]="dataset" fullWidth >
              <nb-option *ngFor="let dataset of datasets" [value]="dataset.value">{{dataset.text}}</nb-option>
            </nb-select>
          </div>
        </div>
      </nb-card-header>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div [ngSwitch]="dataset">
      <!-- demografi -->
      <ng-container *ngSwitchCase="'demografi'">
        <ngx-import [dataset]="dataset"></ngx-import>
      </ng-container>
      <!-- kepatuhan -->
      <ng-container *ngSwitchCase="'kepatuhan'">
        <ngx-import [dataset]="dataset"></ngx-import>
      </ng-container>
      <!-- penerimaan -->
      <ng-container *ngSwitchCase="'penerimaan'">
        <ngx-import [dataset]="dataset"></ngx-import>
      </ng-container>
      <!-- subdit -->
      <ng-container *ngSwitchCase="'subdit'">
        <ngx-upload [dataset]="dataset"></ngx-upload>
      </ng-container>
      <!-- pihak lain -->
      <ng-container *ngSwitchCase="'pihaklain'">
        <ngx-upload [dataset]="dataset"></ngx-upload>
      </ng-container>
    </div>
  </div>
</div>
