<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()"><span style="color: #ebb000">SERIBU</span><span style="color: #020087"> TABEL</span></a>
  </div>
</div>

<div class="header-container">
  <nb-actions size="small">
    <nb-action class="user-action" *nbIsGranted="['view', 'user']" >
      <nb-user [name]="user?.nama"></nb-user>
    </nb-action>
    <nb-action class="log-out-action">
      <nb-icon nbTooltip="log out" icon="power-outline" (click)="logout()"></nb-icon>
    </nb-action>
  </nb-actions>
</div>
