<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header><span class="h2">Total Tabel Data Tersedia {{totalWhole}}</span></nb-card-header>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <nb-card size="tiny">
      <nb-card-header>Tabel Data Demografi</nb-card-header>
      <nb-card-body>
        <h3>{{totalDemografi}}</h3>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-sm-2">
    <nb-card size="tiny">
      <nb-card-header>Tabel Data Kepatuhan</nb-card-header>
      <nb-card-body>
        <h3>{{totalKepatuhan}}</h3>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-sm-2">
    <nb-card size="tiny">
      <nb-card-header>Tabel Data Penerimaan</nb-card-header>
      <nb-card-body>
        <h3>{{totalPenerimaan}}</h3>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-sm-2">
    <nb-card size="tiny">
      <nb-card-header>Tabel Data Per Subdit</nb-card-header>
      <nb-card-body>
        <h3>{{totalSubdit}}</h3>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-sm-2">
    <nb-card size="tiny">
      <nb-card-header>Tabel Pihak lain</nb-card-header>
      <nb-card-body>
        <h3>{{totalPihakLain}}</h3>
      </nb-card-body>
    </nb-card>
  </div>
</div>
