<nb-alert *ngIf="errors?.length" status="warning" role="alert">
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>
<nb-alert *ngIf="successShow" status="success" role="alert">
  File berhasil diimport, data baru dapat diolah menggunakan wizard setelah kurang lebih 2 jam dari sekarang
</nb-alert>

<form (ngSubmit)="import()" [formGroup]="importForm">
  <nb-card>
    <nb-card-body>
      <div class="form-group row">
        <label for="subyekData" class="label col-sm-2 col-form-label">Subyek Data</label>
        <div class="col-sm-4">
          <nb-select formControlName="subyekData" placeholder="Subyek data (Harus diisi)" fullWidth>
            <nb-option *ngFor="let subyek of subyekData" [value]="subyek.value">{{subyek.text}}</nb-option>
          </nb-select>
        </div>
      </div>
      <div class="form-group row">
        <label for="dataSource" class="label col-sm-2 col-form-label">Sumber Data</label>
        <div class="col-sm-4">
          <nb-select formControlName="dataSource" placeholder="Sumber data (Harus diisi)" fullWidth>
            <nb-option *ngFor="let ds of dataSource" [value]="ds.value">{{ds.text}}</nb-option>
          </nb-select>
        </div>
      </div>
      <div class="form-group row">
        <label for="uploadDok" class="label col-sm-2 col-form-label">Import Dokumen</label>
        <div class="col-sm-3">
          <input formControlName="excelUpload" type="file" fullWidth accept=".xlsx" [multiple]="true" nbInput
            id="inputFile" ng2FileSelect [multiple]="true" nbInput [uploader]="uploader" readonly required>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2 col-form-label"></div>
        <div class="col-sm-5">
          <table *ngIf="uploader.queue.length > 0">
            <thead>
              <tr>
                <th width="15%"></th>
                <th width="90%">Nama File</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of uploader.queue">
                <td class="text-center" width="10%">
                  <button nbTooltip="Hapus" nbButton (click)="item.remove()" size="tiny" status="danger"
                    [disabled]="onProcess">
                    <nb-icon icon="trash-2-outline"></nb-icon>
                  </button>
                </td>
                <td style="background-color: yellow" nbTooltip="Melebihi 100 MB. Silakan hapus" nbTooltipStatus="danger"
                  nbTooltipPlacement="left" nbTooltipIcon="alert-triangle-outline"
                  *ngIf="item.file.size > 100000000; else elseTemplate">
                  {{ item.file.name}} ({{item.file.size/1000000}} MB)
                </td>
                <ng-template #elseTemplate>
                  <td width="90%">
                    {{ item.file.name}} ({{item.file.size/1000000}} MB)
                  </td>
                </ng-template>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <div class="row">
        <div class="col-sm-2">
          <button type="submit" fullWidth nbButton status="info" nbSpinnerMessage=""
            [disabled]="!importForm.valid || onProcess" [nbSpinner]="onProcess" nbSpinnerStatus="info"
            nbSpinnerSize="small">
            <nb-icon icon="upload-outline"></nb-icon>
            Import
          </button>
        </div>
      </div>
    </nb-card-footer>
  </nb-card>
</form>
