@import '../../../@theme/styles/themes';
@import '../../../@theme/styles/styles.scss';

.activity-table {
  width: 100%;
  text-align: center;
}

@include mat-table-columns(
  (
    userId: (
      width: 6rem,
      text-align: center
    ),
    nip: (
      width: 9rem,
      text-align: center
    ),
    authority: (
      width: 10rem,
      text-align: center
    ),
    activity: (
      width: 10rem,
      text-align: center
    ),
    dataset: (
      width: 10rem,
      text-align: center
    ),
    subyekData: (
      width: 10rem,
      text-align: center
    ),
    dataSource: (
      width: 10rem,
      text-align: center
    ),
    firstChar: (
      width: 10rem,
      text-align: center
    ),
    secondChar: (
      width: 10rem,
      text-align: center
    ),
    ipAddress: (
      width: 10rem,
      text-align: center
    ),
    accessTime: (
      width: 10rem,
      text-align: center
    )
  )
);
