<div class="accordion-container row">
  <div class="accordion-container col-sm-12">
    <nb-accordion>
      <nb-accordion-item>
        <nb-accordion-item-header>Filter Pencarian</nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="row">
            <div class="col-sm-2">
              <div class="form-group">
                <label for="inputUserId" class="label">User ID</label>
                <input type="text" nbInput fullWidth id="inputUserId" placeholder="user ID" [(ngModel)]="username">
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label for="inputNip" class="label">NIP Sikka</label>
                <input type="text" nbInput fullWidth placeholder="NIP Sikka 9 digit" [(ngModel)]="nip">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="selectDataset" class="label">Dataset</label>
                <nb-select placeholder="Dataset" [(ngModel)]="dataset" fullWidth>
                  <nb-option *ngFor="let dataset of datasets" [value]="dataset.value">{{dataset.text}}</nb-option>
                </nb-select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="selectSubyekData" class="label">Subyek Data</label>
                <nb-select placeholder="Subyek Data" [(ngModel)]="subyekdata" fullWidth>
                  <nb-option *ngFor="let subyekdata of subyekDatas" [value]="subyekdata.value">{{subyekdata.text}}
                  </nb-option>
                </nb-select>
              </div>
            </div>
            <div class="col-sm-1">
              <div class="form-group">
                <label for="searchButton" class="label" style="color: white">search</label>
                <button type="submit" fullWidth nbButton status="warning" shape="round" (click)="onSearch()">
                  <nb-icon icon="search-outline"></nb-icon>
                  Cari
                </button>
              </div>
            </div>
            <div class="col-sm-1">
                <div class="form-group">
                  <label for="searchButton" class="label" style="color: white">reset</label>
                  <button type="submit" fullWidth nbButton status="danger" shape="round" (click)="onReset()">
                    <nb-icon icon="refresh-outline"></nb-icon>
                    Reset
                  </button>
                </div>
              </div>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <nb-card>
      <nb-card-body>
        <table fullWidth mat-table [dataSource]="activityLogs" #activityTabel class="activity-table">
          <!-- user ID -->
          <ng-container matColumnDef="userId">
            <th mat-header-cell *matHeaderCellDef> User ID </th>
            <td mat-cell *matCellDef="let element">{{element.username}}</td>
          </ng-container>

          <!-- nip -->
          <ng-container matColumnDef="nip">
            <th mat-header-cell *matHeaderCellDef> NIP Sikka </th>
            <td mat-cell *matCellDef="let element">{{element.nip}}</td>
          </ng-container>

          <!-- role -->
          <ng-container matColumnDef="authority">
            <th mat-header-cell *matHeaderCellDef> Authorities </th>
            <td mat-cell *matCellDef="let element">{{element.authority}}</td>
          </ng-container>

          <!-- activity -->
          <ng-container matColumnDef="activity">
            <th mat-header-cell *matHeaderCellDef> Activity </th>
            <td mat-cell *matCellDef="let element">{{element.activity}}</td>
          </ng-container>

          <!-- dataset -->
          <ng-container matColumnDef="dataset">
            <th mat-header-cell *matHeaderCellDef> Dataset </th>
            <td mat-cell *matCellDef="let element">{{element.dataset}}</td>
          </ng-container>

          <!-- subyek data -->
          <ng-container matColumnDef="subyekData">
            <th mat-header-cell *matHeaderCellDef> Subyek Data </th>
            <td mat-cell *matCellDef="let element">{{element.subyekData}}</td>
          </ng-container>

          <!-- data source -->
          <ng-container matColumnDef="dataSource">
            <th mat-header-cell *matHeaderCellDef> Sumber Data </th>
            <td mat-cell *matCellDef="let element">{{element.sourceData}}</td>
          </ng-container>

          <!-- first char -->
          <ng-container matColumnDef="firstChar">
            <th mat-header-cell *matHeaderCellDef> Karakter Data 1 </th>
            <td mat-cell *matCellDef="let element">{{element.firstCharacter}}</td>
          </ng-container>

          <!-- second char -->
          <ng-container matColumnDef="secondChar">
            <th mat-header-cell *matHeaderCellDef> Karakter Data 2 </th>
            <td mat-cell *matCellDef="let element">{{element.secondCharacter}}</td>
          </ng-container>

          <!-- IP Address -->
          <ng-container matColumnDef="ipAddress">
            <th mat-header-cell *matHeaderCellDef> Alamat IP </th>
            <td mat-cell *matCellDef="let element">{{element.ipAddress}}</td>
          </ng-container>

          <!-- access time -->
          <ng-container matColumnDef="accessTime">
            <th mat-header-cell *matHeaderCellDef> Access Time </th>
            <td mat-cell *matCellDef="let element">{{element.accessDate}}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
