<h1 mat-dialog-title><strong>{{action}}</strong> Data User</h1>
<nb-alert *ngIf="showMessages.error && errors?.length" status="warning" role="alert">
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<form (ngSubmit)="doAction()" #registForm="ngForm" aria-labelledby="title">
  <div mat-dialog-content>
    <div [ngSwitch]="action">
      <ng-container *ngSwitchCase="'Hapus'">
        Apakah Anda yakin ingin menghapus <b>{{local_data.name}}</b>?
      </ng-container>
      <ng-container *ngSwitchCase="'Ganti Password'">
        <div class="form-group row">
          <label for="password" class="label col-sm-3 col-form-label">Password</label>
          <div class="col-sm-9">
            <input nbInput fullWidth name="password" #password="ngModel" id="password" type="password"
              placeholder="{{action}} password" [(ngModel)]="local_data.password" [disabled]="disabled"
              [required]="getConfigValue('forms.validation.password.required')">
            <ng-container *ngIf="password.invalid && password.touched">
              <p class="caption status-danger" *ngIf="password.errors?.required">
                Password harus diisi!
              </p>
            </ng-container>
          </div>
        </div>
        <div class="form-group row">
          <label for="rePassword" class="label col-sm-3 col-form-label">Konfirmasi Password</label>
          <div class="col-sm-9">
            <input nbInput fullWidth name="rePassword" [(ngModel)]="local_data.rePassword" #rePassword="ngModel"
              id="rePassword" type="password" placeholder="input ulang password" [status]="rePassword.touched
                        ? (rePassword.invalid || password.value != rePassword.value ? 'danger' : 'success')
                        : ''" [required]="getConfigValue('forms.validation.rePassword.required')"
              [disabled]="disabled">
            <ng-container *ngIf="rePassword.touched">
              <p class="caption status-danger" *ngIf="rePassword.invalid && rePassword.errors?.required">
                Konfirmasi Password harus diisi!
              </p>
              <p class="caption status-danger"
                *ngIf="password.value != rePassword.value && !rePassword.errors?.required">
                password tidak cocok!
              </p>
            </ng-container>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'Ubah'">
        <div class="form-group row">
          <label for="nama" class="label col-sm-3 col-form-label">Nama</label>
          <div class="col-sm-9">
            <input nbInput name="nama" fullWidth id="nama" type="text" placeholder="{{action}} Nama"
              [(ngModel)]="local_data.name" #nama="ngModel" required [disabled]="disabled">
            <ng-container *ngIf="nama.invalid && nama.touched">
              <p class="caption status-danger" *ngIf="nama.errors?.required">
                Nama harus diisi!
              </p>
            </ng-container>
          </div>
        </div>
        <div class="form-group row">
          <label for="userId" class="label col-sm-3 col-form-label">User ID</label>
          <div class="col-sm-9">
            <input nbInput fullWidth id="username" type="text" placeholder="{{action}} user id"
              [(ngModel)]="local_data.username" #username="ngModel" name="username" required [disabled]="disabled">
            <ng-container *ngIf="username.invalid && username.touched">
              <p class="caption status-danger" *ngIf="username.errors?.required">
                User ID harus diisi!
              </p>
            </ng-container>
          </div>
        </div>
        <div class="form-group row">
          <label for="password" class="label col-sm-3 col-form-label">Otoritas</label>
          <div class="col-sm-9">
            <nb-select [(ngModel)]="local_data.role" fullWidth #role="ngModel" selected="{{selectedRole.value}}"
              name="role" [disabled]="disabled" required placeholder="{{action}} role">
              <nb-option *ngFor="let role of lovRoles" [value]="role.value">{{role.text}}</nb-option>
            </nb-select>
            <ng-container *ngIf="role.invalid && role.touched">
              <p class="caption status-danger" *ngIf="role.errors?.required">
                Role harus dipilih!
              </p>
            </ng-container>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'Tambah'">
        <div class="form-group row">
          <label for="nip" class="label col-sm-3 col-form-label">NIP</label>
          <div class="col-sm-9">
            <input digitOnly nbInput fullWidth id="subject" type="text" placeholder="{{action}} NIP Sikka 9 digit"
              [(ngModel)]="local_data.nip" #nip="ngModel" [disabled]="disabled" minlength="9" maxlength="9" name="nip"
              required>
            <ng-container *ngIf="nip.invalid && nip.touched">
              <p class="caption status-danger" *ngIf="nip.errors?.required">
                NIP harus diisi!
              </p>
              <p class="caption status-danger" *ngIf="nip.errors?.minlength || nip.errors?.maxlength">
                NIP harus 9 digit!
              </p>
            </ng-container>
          </div>
        </div>
        <div class="form-group row">
          <label for="nama" class="label col-sm-3 col-form-label">Nama</label>
          <div class="col-sm-9">
            <input nbInput name="nama" fullWidth id="nama" type="text" placeholder="{{action}} Nama"
              [(ngModel)]="local_data.name" #nama="ngModel" required [disabled]="disabled">
            <ng-container *ngIf="nama.invalid && nama.touched">
              <p class="caption status-danger" *ngIf="nama.errors?.required">
                Nama harus diisi!
              </p>
            </ng-container>
          </div>
        </div>
        <div class="form-group row">
          <label for="userId" class="label col-sm-3 col-form-label">User ID</label>
          <div class="col-sm-9">
            <input nbInput fullWidth id="username" type="text" placeholder="{{action}} user id"
              [(ngModel)]="local_data.username" #username="ngModel" name="username" required [disabled]="disabled">
            <ng-container *ngIf="username.invalid && username.touched">
              <p class="caption status-danger" *ngIf="username.errors?.required">
                User ID harus diisi!
              </p>
            </ng-container>
          </div>
        </div>
        <div class="form-group row">
          <label for="password" class="label col-sm-3 col-form-label">Otoritas</label>
          <div class="col-sm-9">
            <nb-select [(ngModel)]="local_data.role" fullWidth #role="ngModel"
              name="role" [disabled]="disabled" required placeholder="{{action}} role">
              <nb-option *ngFor="let role of lovRoles" [value]="role.value">{{role.text}}</nb-option>
            </nb-select>
            <ng-container *ngIf="role.invalid && role.touched">
              <p class="caption status-danger" *ngIf="role.errors?.required">
                Role harus dipilih!
              </p>
            </ng-container>
          </div>
        </div>
        <div class="form-group row">
          <label for="password" class="label col-sm-3 col-form-label">Password</label>
          <div class="col-sm-9">
            <input nbInput fullWidth name="password" #password="ngModel" id="password" type="password"
              placeholder="{{action}} password" [(ngModel)]="local_data.password" [disabled]="disabled"
              [required]="getConfigValue('forms.validation.password.required')">
            <ng-container *ngIf="password.invalid && password.touched">
              <p class="caption status-danger" *ngIf="password.errors?.required">
                Password harus diisi!
              </p>
            </ng-container>
          </div>
        </div>
        <div class="form-group row">
          <label for="rePassword" class="label col-sm-3 col-form-label">Konfirmasi Password</label>
          <div class="col-sm-9">
            <input nbInput fullWidth name="rePassword" [(ngModel)]="local_data.rePassword" #rePassword="ngModel"
              id="rePassword" type="password" placeholder="input ulang password" [status]="rePassword.touched
                              ? (rePassword.invalid || password.value != rePassword.value ? 'danger' : 'success')
                              : ''" [required]="getConfigValue('forms.validation.rePassword.required')"
              [disabled]="disabled">
            <ng-container *ngIf="rePassword.touched">
              <p class="caption status-danger" *ngIf="rePassword.invalid && rePassword.errors?.required">
                Konfirmasi Password harus diisi!
              </p>
              <p class="caption status-danger"
                *ngIf="password.value != rePassword.value && !rePassword.errors?.required">
                password tidak cocok!
              </p>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div mat-dialog-actions>
    <button type="submit" [disabled]="!registForm.valid" status="success" nbButton [nbSpinner]="disabled" nbSpinnerStatus="info" nbSpinnerSize="small"
      nbSpinnerMessage="">{{action}}</button>
    <button type="button" nbButton status="error" (click)="closeDialog()">Batal</button>
  </div>
</form>
